<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <style>
    li {
      margin-bottom: 15px;
      font-size: 20px;
    }

    #body {
      width: 500px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    input {
      width: 400px;
      height: 20px;
    }

    #signup,
    #signin {
      width: 100px;
      height: 30px;
      font-size: 20px;
    }

    body {
      width: 100vw;
      padding-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="body">
    <h1>Our Libraries</h1>
    <input />
    <button>Search</button>

    <h2 style="margin-top: 70px">Recently added resources</h2>
    <ul>
      <li>Our Language Today by David Conlin, et al., <a href="#">alegremrvn</a></li>
      <li>Textbook on the Philippine Constitution by Hector De Leon, <a href="#">Juan dela Cruz</a></li>
      <li>Income Taxation 2017 Ed. by Rex Banggawan, <a href="#">alegremrvn</a></li>
      <li>Calculus with Analytic Geometry by Thurman Peterson, <a href="#">alegremrvn</a></li>
      <li>Harry Potter and the Seven Dwarfs by Someone, <a href="#">ABC Library</a></li>
      <li>Tales from a Tin Can by Michael Olson, <a href="#">alegremrvn</a></li>
      <li>Introductory Calculus by Arthur Wayne Roberts, <a href="#">alegremrvn</a></li>
      <li>Essentials of College Mathematics by Dellen Macmillan, <a href="#">alegremrvn</a></li>
      <li>Code Complete 2nd Ed. by Steve McConnell, <a href="#">Software Engineering School</a></li>
      <li><a href="#">more...</a></li>
    </ul>

    <div style="margin-top: 70px;">
      <button id="signin"><strong>Sign in</strong></button> <button id="signup"><strong>Sign up</strong></button>
    </div>
  </div>
</body>

</html>